<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
        <h3 class="top-header">Todo List</h3>
        <div class="mdl-grid">
                <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-1">
                        <input type="checkbox" id="checkbox-1" class="mdl-checkbox__input" checked>
                        <span class="mdl-checkbox__label">Checkbox</span>
                      </label>
            <div class="mdl-cell--3-col" *ngFor="let todo of todoList; index as i">
                <app-to-do [todo]="todo" (deleteEvent)="deleteTodo($event)"></app-to-do>
                <!-- <div class="mdl-grid">
                    <div class="mdl-card mdl-cell mdl-cell--12-col mdl-shadow--2dp">
                        <app-todo-header [todo]="todo" [index]="i" (refreshEvent)="refreshTask($event)"></app-todo-header>
                        <app-tasks [keyword]="todo.keyword"></app-tasks>

                        <button (click)="addTask(todo);" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored"
                            style="margin-left: 10px; margin-bottom: 10px;" data-upgraded=",MaterialButton,MaterialRipple">
                
                            <i class="material-icons">add</i>
                            <span class="mdl-button__ripple-container">
                                <span class="mdl-ripple"></span>
                            </span>
                
                        </button>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>